doctype html
html
  head
    title Line Chart
    script(src='javascripts/Chart.js')
  body
    section(style='width:100%;margin-top:150px;')
      article(style='width:30%;float:left;margin-left:15%;')
        img(src='./images/ANGERS_FRENCH_TECH.png' style='width:420px;height:290px')
      article(style='width:30%;float:right;margin-right:15%;')
        img(src='./images/NANTES_FRENCH_TECH.png' style='width:420px;height:290px')